@font-face {
  font-family: 'Arnold BocklinC';
  src: url('../fonts/Arnold BocklinC.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova-Light', sans-serif;
  src: url('../fonts/ProximaNova-Light.ttf');
  font-weight: normal;
  font-style: italic;
}
.flexCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.fontBanner {
  font-size: 34px;
  color: black;
  top: 35%;
}
* {
  padding: 0px;
  margin: 0px;
  font-family: "Arnold BocklinC";
  font-weight: 200;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.header-background {
  background: url(../img/HeaderBG.png) center top repeat-y;
  overflow: hidden;
  background-size: 155%;
  padding-bottom: 10%;
  position: relative;
  z-index: 5;
}
.main-background {
  background: url(../img/mainBG.png) center top no-repeat;
  margin-top: 5%;
  background-size: cover;
  padding-top: 5%;
  position: relative;
  z-index: 100;
}
.toHeader-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 5%;
  right: 1%;
  z-index: 500;
  transition: .3s;
}
.toHeader-link img {
  width: 50px;
  height: 50px;
}
.toHeader-link:hover {
  bottom: 6%;
  transition: .3s;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 0px 5px;
}
.facade-block {
  position: relative;
  z-index: 10;
}
.facade-block .facade-block__image {
  width: 100%;
}
.facade-block:after {
  content: "";
  display: block;
  position: absolute;
  width: 132%;
  height: 110%;
  background: url(../img/headerLogo-shadow.png) -88px 20px no-repeat;
  background-size: 110%;
  left: -16%;
  top: -6%;
  z-index: -1;
  animation: swinging 20s ease-in-out 0s infinite;
}
.phone-block {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
.phone-block__item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.phone-block__item .wrapper {
  justify-content: center;
  align-items: center;
  width: 70%;
}
.phone-block__item .wrapper p {
  color: #fff;
}
.phone-block__item img {
  margin-right: 5%;
}
.nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  top: 75%;
  padding: 0 10%;
}
.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.nav-menu li a {
  color: #fff;
  font-size: 20px;
  transition: .1s;
}
.nav-menu li a:hover {
  text-shadow: 0 0 50px #e5d55a, 0 0 70px #e5d55a;
  color: #e5d55a;
  transition: .1s;
}
@keyframes swinging {
  0% {
    transform: rotate(-2deg);
  }
  10% {
    transform: rotate(2deg);
  }
  20% {
    transform: rotate(-2deg);
  }
  30% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-2deg);
  }
  70% {
    transform: rotate(2deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}
@keyframes swingingBottle {
  0% {
    transform: rotate(2deg);
  }
  10% {
    transform: rotate(-2deg);
  }
  20% {
    transform: rotate(2deg);
  }
  30% {
    transform: rotate(-2deg);
  }
  40% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  60% {
    transform: rotate(2deg);
  }
  70% {
    transform: rotate(-2deg);
  }
  80% {
    transform: rotate(2deg);
  }
  90% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
@keyframes ShadowBanner {
  0% {
    transform: translate(-5px);
  }
  10% {
    transform: translate(5px);
  }
  20% {
    transform: translate(-5px);
  }
  30% {
    transform: translate(5px);
  }
  40% {
    transform: translate(-5px);
  }
  50% {
    transform: translate(5px);
  }
  60% {
    transform: translate(-5px);
  }
  70% {
    transform: translate(5px);
  }
  80% {
    transform: translate(-5px);
  }
  90% {
    transform: translate(5px);
  }
  100% {
    transform: translate(-5px);
  }
}
.lantern {
  width: 100%;
  position: relative;
  z-index: 10;
  text-align: center;
  animation: swinging 20s ease-in-out 0s infinite;
  transform-origin: 50% 0;
}
.lantern img {
  width: 20%;
}
.lantern:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 130%;
  background: url(../img/lantern-shadow.png) 222px -210px no-repeat;
  background-size: 60%;
  top: -21%;
  z-index: -1;
}
.bottle-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.bottle-block .bottle-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
.bottle-block .left-bottle {
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.bottle-block .left-bottle img {
  width: 50%;
  z-index: 10;
}
.bottle-block .left-bottle:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 223%;
  background: url(../img/leftBottleShadow.png) 0px 0px no-repeat;
  background-size: 92%;
  bottom: -120%;
  left: -41.5%;
  z-index: 1;
  animation: swingingBottle 20s ease-in-out 0s infinite;
  transform-origin: 83% 0%;
}
.bottle-block .right-bottle {
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.bottle-block .right-bottle img {
  width: 50%;
  z-index: 10;
}
.bottle-block .right-bottle:after {
  content: "";
  display: block;
  position: absolute;
  width: 78%;
  height: 201%;
  background: url(../img/rightBottleShadow.png) 0px 0px no-repeat;
  background-size: 114%;
  bottom: -100%;
  right: -26.5%;
  z-index: 1;
  transform: rotate(10deg);
  animation: swingingBottle 20s ease-in-out 0s infinite;
  transform-origin: 28% 0%;
}
.bottle-block .flag {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.bottle-block .flag img {
  width: 40%;
  height: 100%;
}
.bottle-block .flag p {
  position: absolute;
  font-size: 34px;
  color: black;
  top: 35%;
}
.bottle-block .flag:after {
  content: "";
  display: block;
  position: absolute;
  width: 47%;
  height: 163%;
  background: url(../img/newsShadow.png) 0px 0px no-repeat;
  background-size: 102%;
  bottom: -55%;
  left: 25%;
  z-index: -1;
  animation: ShadowBanner 20s ease-in-out 0s infinite;
  transform-origin: 0% 0%;
}
.poster {
  width: 100%;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.poster .poster__item {
  position: relative;
  width: 30%;
}
.poster .poster__item .posterBG {
  width: 100%;
}
.poster .poster__item .posterIMG {
  position: absolute;
  width: 70%;
  top: 10%;
  left: 15%;
  box-shadow: 0px 0px 10px black;
}
.menu-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
.banner {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.banner img {
  width: 40%;
}
.banner p {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 34px;
  color: black;
  top: 35%;
}
.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-between;
}
.menu .leftColumn {
  width: 25%;
}
.menu .rightColumn {
  width: 70%;
}
.menu .submenu__list {
  display: none;
}
.menu__list > li > .activeItem {
  background: #391e07;
  color: #fff;
  transition: .3s;
}
.menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}
.menu__list > li img {
  width: 20%;
}
.menu__list p {
  width: 70%;
  height: 100%;
  padding: 5%;
  border-radius: 5px 5px 0 0;
  transition: .3s;
  font-size: 16px;
}
.menu__list .submenu__list_active {
  background: #a36f42;
  color: #fff;
  border-radius: 0px;
}
.menu__list > li p:hover,
.menu__list > li img:hover {
  cursor: pointer;
  transition: .3s;
}
.submenu__list {
  background: #fff;
  width: 70%;
  margin-left: 20%;
}
.submenu__list li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.submenu__list p {
  font-family: 'ProximaNova-Light', sans-serif;
  width: 100%;
  transition: 0s;
}
.submenu__list li:hover {
  background: #a36f42;
}
.submenu__list li:hover p {
  color: #fff;
  transition: 0s;
}
.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  border-bottom: 3px solid #391e07;
}
.menu__title p {
  font-family: 'ProximaNova-Light', sans-serif;
}
.menu__title .nameCategories {
  padding: 10px 50px;
  text-align: center;
  font-size: 20px;
  background: #391e07;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.menu__title .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 15%;
  justify-content: space-between;
  font-size: 12px;
}
.menu__description {
  padding: 10px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
}
.menu__description .description__block {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.menu__description .description__block .wrapper {
  margin-left: 0;
  width: 80%;
}
.menu__description .description__block h1 {
  width: 100%;
  font-family: 'ProximaNova-Light', sans-serif;
  font-size: 24px;
  color: #391e07;
}
.menu__description .description__block p {
  font-family: 'ProximaNova-Light', sans-serif;
  font-size: 14px;
  color: #a36f42;
}
.menu__description .description__block p:first-letter {
  text-transform: uppercase;
}
.menu__description .description__block .menu__description__vol,
.menu__description .description__block .menu__description__price {
  font-size: 12px;
  width: 8%;
  text-align: center;
  color: #391e07;
}
.menu__description .description__block .menu__description__vol {
  margin-left: 3%;
}
.games-block {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.games-block .games-block__item {
  position: relative;
}
.games-block .games-block__item h2,
.games-block .games-block__item p {
  position: absolute;
}
.games-block .games-block__item h2 {
  top: 50%;
  width: 100%;
  text-align: center;
}
.games-block .games-block__item p {
  font-family: 'ProximaNova-Light', sans-serif;
  width: 100%;
  text-align: center;
  padding: 5px 10px;
  margin-bottom: 5px;
  top: 65%;
}
.gallery-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 30%;
  align-items: center;
  margin-bottom: 50px;
}
.gallery-nav__item p {
  width: 100%;
  text-align: center;
  font-size: 30px;
}
.gallery-nav__item p:hover,
.gallery-nav__item img:hover {
  cursor: pointer;
}
.photoBlock {
  margin: 0 auto;
  box-shadow: 0px 0px 10px black;
}
.photoBlock .photoBlock__item {
  z-index: 10;
  transition: .3s;
  width: 25%;
  height: 300px;
  margin-bottom: -1px;
  border: 2px solid #fff;
}
.photoBlock .width2 {
  width: 50%;
}
.photoBlock .height350 {
  height: 400px;
}
.photoBlock .height250 {
  height: 200px;
}
.photoBlock img {
  width: 100%;
  height: 100%;
}
.photoBlock__item:hover {
  background: #000;
  transform: scale(1.1, 1.1);
  transition: .3s;
  z-index: 100;
  box-shadow: 0px 0px 30px black;
}
.active-hall {
  display: block;
}
.reviews-block {
  padding-top: 50px;
  padding-bottom: 20%;
}
.reviews__wrappepr {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reviews__wrappepr .reviews__slider {
  width: 60%;
}
.reviews__wrappepr .reviews__form {
  width: 39%;
  padding: 15px 0;
}
.reviews__wrappepr .reviews__form h1 {
  width: 100%;
  text-align: center;
  color: #391e07;
}
.reviews__wrappepr .reviews__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 10%;
  align-items: center;
}
.reviews__wrappepr .reviews__form form input[type="text"],
.reviews__wrappepr .reviews__form form textarea {
  width: 100%;
  font-family: 'ProximaNova-Light', sans-serif;
  font-size: 14px;
  padding: 10px 15px;
  margin-bottom: 5%;
}
.reviews__wrappepr .reviews__form form label {
  width: 100%;
  height: 60px;
  position: relative;
}
.reviews__wrappepr .reviews__form form label input {
  width: 100%;
  opacity: 0;
}
.reviews__wrappepr .reviews__form form label input:hover {
  cursor: pointer;
}
.reviews__wrappepr .reviews__form form label:hover {
  cursor: pointer;
}
.reviews__wrappepr .reviews__form form label:before {
  content: 'Відправити';
  color: #fff;
  background: url(../img/button.png) no-repeat;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  font-size: 24px;
}
.reviews__slider {
  padding-top: 5%;
}
.reviews__slider .bx-wrapper {
  background: none;
  box-shadow: none;
  border: none;
}
.reviews__slider .bx-wrapper .bx-prev {
  background: url(../img/left-arrow.png) no-repeat 0px 0px;
}
.reviews__slider .bx-wrapper .bx-next {
  background: url(../img/right-arrow.png) no-repeat 0px 0px;
}
.slider div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
}
.slider div p {
  font-family: 'ProximaNova-Light', sans-serif;
  padding: 0 50px;
  font-size: 14px;
  font-weight: 200;
  line-height: 2em;
  text-align: center;
  width: 100%;
}
footer {
  position: relative;
  width: 100%;
  z-index: 5;
}
.reserve-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.map {
  background: url(../img/reserve.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 580px;
  height: 300px;
}
.tables-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  height: 33%;
  width: 100%;
  padding-left: 55px;
  align-items: center;
}
.tables-row div:hover {
  cursor: pointer;
}
.big-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 70px;
}
.big-table p {
  display: none;
  font-size: 20px;
}
.small-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
}
.small-table p {
  display: none;
  font-size: 20px;
}
.big-table:nth-child(1) {
  margin-left: 39px;
}
.big-table:nth-child(3) {
  margin-left: 55px;
}
.row-1 {
  padding-top: 5px;
}
.small-table {
  margin-right: 27px;
}
.small-table:nth-child(1) {
  margin-right: 25px;
}
.active-tableBig {
  background: url(../img/table.png);
  background-size: cover;
}
.active-tableBig p {
  display: block;
}
.active-tableSmall {
  background: url(../img/tableSmall.png);
  background-size: cover;
}
.active-tableSmall p {
  display: block;
}
.reserve__form {
  background: url(../img/formBG.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-end;
  width: 320px;
  height: 405px;
}
.reserve__form p {
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: 'ProximaNova-Light', sans-serif;
}
.reserve__form p .numberTable {
  font-size: 16px;
}
.reserve__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.reserve__form form div {
  width: 100%;
}
.reserve__form form div label {
  display: inline-block;
  color: #fff;
  font-family: 'ProximaNova-Light', sans-serif;
  font-size: 14px;
}
.reserve__form form span {
  font-size: 12px;
  font-family: 'ProximaNova-Light', sans-serif;
}
.reserve__form input {
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 100%;
  font-family: 'ProximaNova-Light', sans-serif;
  font-size: 14px;
}
.reserve__form .person {
  width: 35%;
}
.reserve__form .date {
  width: 60%;
}
.reserve__form .date input {
  font-size: 12px;
}
.reserve__form input[type="submit"] {
  font-size: 20px;
  background: #603e22;
  border: none;
  color: #fff;
}
.reserve__form input[type="submit"]:hover {
  cursor: pointer;
}
.footer-Logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-Logo img {
  margin-bottom: 15px;
}
.footer-Logo p {
  margin-bottom: 15px;
  color: #fff;
  font-size: 18px;
  font-family: 'ProximaNova-Light', sans-serif;
  font-weight: 600;
}
